<header>
    <div class="wrap-menu-header gradient1 trans-0-4">
        <div class="container h-full">
            <div class="wrap_header trans-0-3">
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/images/icons/logo.png" alt="IMG-LOGO" data-logofixed="assets/images/icons/logo2.png">
                    </a>
                </div>

                <div class="wrap_menu p-l-45 p-l-0-xl">
                    <nav class="menu">
                        <ul class="main_menu">
                            <li><a href="#" class="scroll-top">Home</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#modalSeedFramework">Seed</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#modalProdutos">Produtos</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#modalProjetos">Projetos</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>