<div class="row">
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'name' }}</label>
      <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.name' name='name' />
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'datetime' }}</label>
      <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.datetime' name='datetime'datepicker />
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'sampleTypeId'}}</label>
      <select class='form-control'  name='sampleTypeId' [(ngModel)]='vm.modelFilter.sampleTypeId' datasource [dataitem]="'SampleType'" [fieldFilterName]="'Name'"></select>
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'age' }}</label>
      <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.age' name='age' />
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'category' }}</label>
      <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.category' name='category' />
    </div>
  </section>
  <section class="col-md-6">
    <label>{{ vm.infos | traduction:'ativo' }}</label>
<div class='form-group'>
    <label class='radio-inline'><input type='radio' name='ativo' [(ngModel)]='vm.modelFilter.ativo'> Todos</label>
    <label class='radio-inline'><input type='radio' name='ativo' [(ngModel)]='vm.modelFilter.ativo' value='true'> Sim</label>
    <label class='radio-inline'><input type='radio' name='ativo' [(ngModel)]='vm.modelFilter.ativo' value='false'> Não</label>
</div>
  </section>
</div>
