<div class="row " [formGroup]="vm.form">
  <section class="col-md-12"  >
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'name' }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.name' name='name' required formControlName='name'    maxlength=250 autocomplete='off'/>
    </div>
  </section>

  <section class="col-md-12"  >
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'email' }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.email' name='email' required formControlName='email'    maxlength=250 autocomplete='off'/>
    </div>
  </section>

  <section class="col-md-12"  >
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'password' }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.password' name='password' required formControlName='password'    maxlength=250 autocomplete='off'/>
    </div>
  </section>

  <section class="col-md-12"  >
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'guidResetPassword' }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.guidResetPassword' name='guidResetPassword'  formControlName='guidResetPassword'    autocomplete='off'/>
    </div>
  </section>

  <section class="col-md-12"  >
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'dateResetPassword' }}</label>
      <input type='text' class='form-control' [(ngModel)]='vm.model.dateResetPassword' name='dateResetPassword'  formControlName='dateResetPassword' datetimepicker autocomplete='off'/>
    </div>
  </section>

  <section class="col-md-12"   *ngIf="!vm.isParent || vm.ParentIdField != 'programId'">
    <div class='form-group'>
      <label class='mr-1'>{{ vm.infos | traduction:'programId' }}</label> 
        <select class='form-control'  name='programId' [(ngModel)]='vm.model.programId' required formControlName='programId' datasource [dataitem]="'Program'" [fieldFilterName]="'Description'"  ></select>
      </div>
        
  </section>

  <section class="col-md-12"  >
    <div class='checkbox pt-4'>
      <label>
          <input type='checkbox'  [(ngModel)]='vm.model.active'  name='active' formControlName='active'  /> {{ vm.infos | traduction:"active" }}?
      </label>
    </div>
  </section>

  <section class="col-md-12"  >
    <div class='checkbox pt-4'>
      <label>
          <input type='checkbox'  [(ngModel)]='vm.model.changePasswordNextLogin'  name='changePasswordNextLogin' formControlName='changePasswordNextLogin'  /> {{ vm.infos | traduction:"changePasswordNextLogin" }}?
      </label>
    </div>
  </section>

</div>

