<div class="row">
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'description' }}</label>
      <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.description' name='description' />
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'datasource' }}</label>
      <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.datasource' name='datasource' />
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'databaseName' }}</label>
      <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.databaseName' name='databaseName' />
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'themaId'}}</label>
      <select class='form-control'  name='themaId' [(ngModel)]='vm.modelFilter.themaId' datasource [dataitem]="'Thema'" [fieldFilterName]="'Name'"></select>
    </div>
  </section>
</div>
