<div class="row">
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'name' }}</label>
      <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.name' name='name' />
    </div>
  </section>
  <section class="col-md-6">
    <div class='form-group'>
      <label>{{ vm.infos | traduction:'description' }}</label>
      <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.description' name='description' />
    </div>
  </section>
</div>
