<dl>
    <dt>{{ vm.infos | traduction: 'description' }}:</dt>
    <dd><bind-custom [model]="vm.details.description" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos | traduction: 'datasource' }}:</dt>
    <dd><bind-custom [model]="vm.details.datasource" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos | traduction: 'databaseName' }}:</dt>
    <dd><bind-custom [model]="vm.details.databaseName" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos | traduction: 'programId' }}:</dt>
    <dd><bind-custom [model]="vm.details.programId" [format]="'int'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos | traduction: 'themaId' }}:</dt>
    <dd><bind-custom [model]="vm.details.themaId" [format]="'instance'" [tag]="'span'"  [instance]="'Thema'"  [key]="'ThemaId'"></bind-custom></dd>
 

</dl> 