<app-header></app-header>

<app-banner></app-banner>

<app-welcome></app-welcome>

<app-intro></app-intro>

<app-contact></app-contact>

<app-footer></app-footer>

<!-- Back to top -->
<div class="btn-back-to-top bg0-hov scroll-top" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </span>
</div>

<!-- Seed Framework -->
<div class="modal fade" id="modalSeedFramework" tabindex="-1" role="dialog" aria-labelledby="modalSeedFrameworkLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title txt5 trans-0-4">Seed Framework</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pl-1">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="conceito-tab" data-toggle="tab" href="#conceito" role="tab" aria-controls="conceito" aria-selected="true">Conceito</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="estrutura-tab" data-toggle="tab" href="#estrutura" role="tab" aria-controls="estrutura" aria-selected="false">Estrutura</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="funcionalidades-tab" data-toggle="tab" href="#funcionalidades" role="tab" aria-controls="funcionalidades" aria-selected="false">Funcionalidades</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane show active" id="conceito" role="tabpanel" aria-labelledby="conceito-tab">
                        <br /><br /><br /><br />
                    </div>
                    <div class="tab-pane" id="estrutura" role="tabpanel" aria-labelledby="estrutura-tab">
                        <br /><br /><br /><br /><br /><br />
                    </div>
                    <div class="tab-pane p-3" id="funcionalidades" role="tabpanel" aria-labelledby="funcionalidades-tab">
                        <p class="mb-2">Principais funcionalidades do Seed Framework</p>
                        <ul class="small text-muted">
                            <li>Item 01</li>
                            <li>Item 02</li>
                            <li>Item 03</li>
                            <li>Item 04</li>
                            <li>Item 05</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Produtos -->
<div class="modal fade" id="modalProdutos" tabindex="-1" role="dialog" aria-labelledby="modalProdutosLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title txt5 trans-0-4">Produtos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pl-1">
                <div class="row">
                    <div class="col-3">
                        <div class="list-group small" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Smart Trade</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Smart Secretary</a>
                        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Smart Team</a>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                            <h3>Smart Trade</h3>
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                        </div>
                        <div class="tab-pane" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
                        <div class="tab-pane" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                        <div class="tab-pane" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- Projetos -->
<div class="modal fade" id="modalProjetos" tabindex="-1" role="dialog" aria-labelledby="modalProjetosLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title txt5 trans-0-4">Projetos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pl-1">
                
            </div>
        </div>
    </div>
</div>

<!-- Cloud Service -->
<div class="modal fade" id="modalCloudService" tabindex="-1" role="dialog" aria-labelledby="modalCloudServiceLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title txt5 trans-0-4">Cloud Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pl-1">
                
            </div>
        </div>
    </div>
</div>

<!-- StraightToThePoint -->
<div class="modal fade" id="modalStraightToThePoint" tabindex="-1" role="dialog" aria-labelledby="modalStraightToThePointLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title txt5 trans-0-4">Straight To The Point</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pl-1">
                
            </div>
        </div>
    </div>
</div>