<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Score.Platform.Account" connectionString="Data Source=192.168.1.121;Initial Catalog=Score.Platform.Account;user id=Score;password=Score321$;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;MultipleActiveResultSets=True" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>

    <add key="OutputClassRoot" value="C:\Projetos\Score.Platform.Account" />
    <add key="outputClassDomain" value="C:\Projetos\Score.Platform.Account\Score.Platform.Account.Domain" />
    <add key="outputClassInfra" value="C:\Projetos\Score.Platform.Account\Score.Platform.Account.Data" />
    <add key="outputClassDto" value="C:\Projetos\Score.Platform.Account\Score.Platform.Account.Dto" />
    <add key="outputClassApp" value="C:\Projetos\Score.Platform.Account\Score.Platform.Account.Application" />
    <add key="outputClassApi" value="C:\Projetos\Score.Platform.Account\Score.Platform.Account.Api" />
    <add key="outputClassFilter" value="C:\Projetos\Score.Platform.Account\Score.Platform.Account.Domain.Filter" />
    <add key="outputClassSummary" value="C:\Projetos\Score.Platform.Account\Score.Platform.Account.Domain.Summary" />
    <add key="OutputAngular" value="C:\Projetos\Score.Platform.Account\Score.Platform.Account.Spa.Ui" />
    <add key="OutputClassSso" value="C:\Projetos\Score.Platform.Account\Sso.Server.Api" />
    <add key="OutputClassCrossCustingAuth" value="C:\Projetos\Score.Platform.Account\Score.Platform.Account.CrossCuting.Auth" />


    <add key="GerarRepositoriesExistentes" value="false" />
    <add key="GerarModelPartialExistentes" value="false" />
    <add key="GerarMapperPartialExistentes" value="false" />
    <add key="GerarValidationsPartialExistentes" value="false" />
    <add key="GerarModelCustomExistentes" value="false" />
    <add key="GerarDtoEspecializadosExistentes" value="false" />
    <add key="GerarDtoEspecializadosDeResultadoExistentes" value="false" />
    <add key="GerarDtoEspecializadosDeRelatorioExistentes" value="false" />
    <add key="GerarDtoEspecializadosDeDetalhesExistentes" value="false" />
    <add key="GerarFiltersPartialExistentes" value="false" />
    <add key="GerarAppPartialExistentes" value="false" />
    <add key="GerarApiExistentes" value="true" />
    <add key="GerarMoqClassPartialExistentes" value="false" />
    <add key="GerarContainerClassPartialExistentes" value="false" />
    <add key="GerarPreCompilacaoDoContexto" value="false" />
    <add key="GerarFrontControllerCustom" value="true" />


  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
