<section class="section-welcome bg1-pattern p-t-120 p-b-105">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-t-45 p-b-30">
                <div class="wrap-text-welcome t-center">
                    <span class="tit2 t-center">Inovação sem modinhas</span>
                    <h3 class="tit3 t-center m-b-35 m-t-5">TECNOLOGIA DE VERDADE</h3>
                    <p class="t-center m-b-22 size3 m-l-r-auto">
                        Inovar não é apenas criar uma nova tela bonita, oferecer aplicativos móveis ou entrar na onda do
                        mercado.
                        Aqui nós agregamos valor com inovação para o seu mercado utilizando Inteligência Artificial,
                        Cognição e Machine Learning.
                    </p>

                    <a href="about.html" class="txt4">ver mais<i class="fa fa-long-arrow-right m-l-10"
                            aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="col-md-6 p-b-30">
                <div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                    <img src="assets/images/our-story-01.jpg" alt="IMG-OUR">
                </div>
            </div>
        </div>
    </div>
</section>