@model LogoutViewModel
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Recuperar senha</h5>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h3>Verifique seu e-mail, e siga as instruções para definir uma nova senha de acesso</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-secondary" asp-action="Login">voltar</a>
        </div>
    </div>
</div>