@model LoginViewModel

<main class="login">
    <div class="container">
        <div class="card-group">
            <div class="card">
                <div class="card-body text-center">
                    <div class="my-3">
                        <img alt="Sample Seed" class="img-fluid" src="~/logo.png">
                    </div>
                </div>
            </div>

            <div class="card">
                <form action="ForgottenPassword" method="post">
                    <div class="card-body">
                        <h2>Recuperar senha</h2>
                        <p>
                            Digite seu e-mail associado à plataforma <strong>Simply Seed</strong>. <br />
                            Você receberá um link para uma página onde você poderá criar uma nova senha.
                        </p>
                        <div class="form">
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" placeholder="Email" name="Email" autofocus required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <input type="submit" class="btn btn-primary btn-block mt-2" value="Enviar e-mail" />
                            </div>
                            <div class="col">
                                <a class="btn btn-warning btn-block mt-2" asp-action="ComeBackApp">Cancelar</a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


