@model LogoutViewModel
    <main class="login">
        <div class="container">
            <div class="card-group">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="my-3">
                            <img alt="Simply Seed" class="img-fluid" src="~/logo.png">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center">
                        <h2>Redefinir senha</h2>
                        <p>Verifique seu e-mail, e siga as instruções para definir uma nova senha de acesso</p>
                        <div class="row justify-content-center align-items-center">
                            <div class="col">
                                <a class="btn btn-block btn-warning" asp-action="ComeBackApp">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>