<div class="modal-dialog" role="document">
    <form action="ForgottenPassword" method="post">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Recuperar senha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <p>Digite seu e-mail associado ao Portal Corporativo CNA. Você receberá um link para uma página onde você poderá criar uma nova senha.</p>
                            <div class="form-group">
                                <label class="label sr-only">Username</label>
                                <div class="form-group-icons ">
                                    <input type="email" class="form-control" placeholder="Email" name="Email" autofocus required>
                                    <span class="form-icon fa fa-envelope-o"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Enviar e-mail" />
                <a class="btn btn-secondary" data-dismiss="modal" asp-action="ComeBackApp">Cancelar</a>
            </div>
        </div>
    </form>
</div>
