@model LogoutViewModel

    <main class="login">
        <div class="container">
            <div class="card-group">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="my-3">
                            <img alt="Simply Seed" class="img-fluid" src="~/logo.png">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center">
                        <h2>Senhas não conferem</h2>
                        <h3>A senha precisa ter no mínimo 8 caracteres, um número, um caractere especial, um caractere maiúsculo e um caractere minúsculo</h3>
                        <div class="row justify-content-center align-items-center">
                            <div class="col">
                                <a class="btn btn-block btn-warning" asp-action="Login">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>