<main class="login">
    <div class="container">
        <div class="card-group">
            <div class="card">
                <div class="card-body text-center">
                    <div class="my-3">
                        <img alt="Simply Seed" class="img-fluid" src="~/logo.png">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <h2>Email não encontrado</h2>
                    <div class="row justify-content-center align-items-center">
                        <div class="col">
                            <a class="btn btn-block btn-warning" asp-action="Login">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

