@model String

    <main class="login">
        <div class="container">
            <form action="ForgottenPassword" method="post">
                <input type="hidden" class="form-control" name="guid" value="@Model">
                <div class="card-group">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="my-3">
                                <img alt="Simply Seed" class="img-fluid" src="~/logo.png">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body text-center">
                            <h2>Senhas não conferem</h2>
                            <p>Digite seu e-mail associado à Simply Seed. Você receberá um link para uma página onde você poderá criar uma nova senha.</p>

                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Nova senha" name="newPassword">
                            </div>

                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Confirmar nova senha" name="newConfPassword">
                            </div>

                            <div class="row justify-content-center align-items-center">
                                <div class="col">
                                    <button type="submit" class="btn btn-block btn-primary">Redefinir</button>
                                </div>
                                <div class="col">
                                    <a class="btn btn-warning btn-block mt-2" href="/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3DPlatform.Features-Participant-spa%26redirect_uri%3Dhttp%253A%252F%252Flocalhost%253A1010%26response_type%3Did_token%2520token%26scope%3Dopenid%2520ssosa%2520profile%2520email%26state%3D15827496129390.7329866548961692%26nonce%3Dxyz">Voltar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>

