@model LoggedOutViewModel

@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<main class="login">
    <div class="container">
        <div class="card-group">
            <div class="card">
                <div class="card-body text-center">
                    <div class="my-3">
                        <img alt="Simply Seed" class="img-fluid" src="~/logo.png">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <h2>Logout</h2>
                    <p>Você saiu do sistema</p>
                    @if (Model.PostLogoutRedirectUri != null)
                    {
                        <div class="row justify-content-center align-items-center">
                            <div class="col">
                                <a class="btn btn-block btn-warning" href="@Model.PostLogoutRedirectUri">Clique para retornar para o sistema</a>
                            </div>
                        </div>
                    }

                    @if (Model.SignOutIframeUrl != null)
                    {
                        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
                    }
                </div>
            </div>
        </div>
    </div>
</main>




@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
