@model LogoutViewModel

    <main class="login">
        <div class="container">
            <div class="card-group">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="my-3">
                            <img alt="NR 10" class="img-fluid" src="~/logo.png">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center">
                        <h2>Logout</h2>
                        <p>Deseja sair do sistema?</p>
                        <form asp-action="Logout">
                            <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
                            <div class="row justify-content-center align-items-center">
                                <div class="col">
                                    <button class="btn btn-block btn-primary">Sim</button>
                                </div>
                                <div class="col">
                                    <a class="btn btn-block btn-warning" id="logout-cancel">Não</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

@section scripts
{
    <script src="~/js/logout-back.js"></script>
}