<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">
            <div class="item-slick1 item1-slick1" style="background-image: url(assets/images/slide1-01.jpg);"></div>
            <div class="item-slick1 item2-slick1" style="background-image: url(assets/images/master-slides-02.jpg);"></div>
            <div class="item-slick1 item3-slick1" style="background-image: url(assets/images/master-slides-01.jpg);"></div>
        </div>
        <div class="wrap-slick1-dots"></div>
    </div>
</section>