<section class="section-intro">
    <div class="content-intro bg-white p-t-77 p-b-133">
        <div class="container">
            <div class="row">
                <div class="col-md-4 p-t-30">
                    <div class="blo1">
                        <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                            <img src="assets/images/intro-01.jpg" alt="IMG-INTRO">
                        </div>

                        <div class="wrap-text-blo1 p-t-35">
                            <h4 class="txt5 color0-hov trans-0-4 m-b-13">Seed Framework</h4>
                            <p class="m-b-20">Agilidade na criação do seu projeto, para manter o foco onde realmente tem
                                valor agregado.</p>
                            <a href="#" class="txt4" data-toggle="modal" data-target="#modalSeedFramework">Saiba mais<i
                                    class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 p-t-30">
                    <div class="blo1">
                        <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                            <img src="assets/images/intro-02.jpg" alt="IMG-INTRO">
                        </div>

                        <div class="wrap-text-blo1 p-t-35">
                            <h4 class="txt5 color0-hov trans-0-4 m-b-13">Cloud Service</h4>
                            <p class="m-b-20">Utilize todo o potencial de computação na nuvem para o seu negócio.</p>
                            <a href="#" class="txt4" data-toggle="modal" data-target="#modalCloudService">Saiba mais<i
                                    class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 p-t-30">
                    <div class="blo1">
                        <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                            <img src="assets/images/intro-04.jpg" alt="IMG-INTRO">
                        </div>

                        <div class="wrap-text-blo1 p-t-35">
                            <h4 class="txt5 color0-hov trans-0-4 m-b-13">Straight to the point</h4>
                            <p class="m-b-20">Aqui não tem enrolação ou custos não planejados. Sucesso é nosso
                                compromisso.</p>
                            <a href="#" class="txt4" data-toggle="modal" data-target="#modalStraightToThePoint">Saiba
                                mais<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>