<dl>
    <dt>{{ vm.infos | traduction: 'name' }}:</dt>
    <dd><bind-custom [model]="vm.details.name" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos | traduction: 'email' }}:</dt>
    <dd><bind-custom [model]="vm.details.email" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos | traduction: 'password' }}:</dt>
    <dd><bind-custom [model]="vm.details.password" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos | traduction: 'guidResetPassword' }}:</dt>
    <dd><bind-custom [model]="vm.details.guidResetPassword" [format]="'Guid?'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos | traduction: 'dateResetPassword' }}:</dt>
    <dd><bind-custom [model]="vm.details.dateResetPassword" [format]="'DateTime?'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos | traduction: 'tenantId' }}:</dt>
    <dd><bind-custom [model]="vm.details.tenantId" [format]="'int'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos | traduction: 'programId' }}:</dt>
    <dd><bind-custom [model]="vm.details.programId" [format]="'instance'" [tag]="'span'"  [instance]="'Program'"  [key]="'ProgramId'"></bind-custom></dd>
 

    <dt>{{ vm.infos | traduction: 'active' }}:</dt>
    <dd><bind-custom [model]="vm.details.active" [format]="'bool'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos | traduction: 'changePasswordNextLogin' }}:</dt>
    <dd><bind-custom [model]="vm.details.changePasswordNextLogin" [format]="'bool'" [tag]="'span'" ></bind-custom></dd>
 

</dl> 