// Here you can add other styles

.avatar-img {
  max-width: 40px;
}

.btn {
  margin : 3px;
}

.pre-scrollable {
  max-height : 65vh;
  overflow-y : auto;
}

.select2-container {
  width: 100% !important;
}

select.ng-invalid + .select2-container .select2-selection {
  border: 1px solid #e2775a !important;
}

.simple-notification-wrapper {
  z-index: 999999 !important;
}

.form-group > .ng-invalid {
  border: 1px solid #e2775a !important;
}

.ng-invalid .select2-selection {
  border: 1px solid #a94442;
  border-radius: 4px;
}

.checkbox.pt-4 {
  padding-top : 2rem !important;
}

.col-md-12 .checkbox.pt-4 {
  padding-top: 0rem !important;
}

.upload-component-paste-area {
  width: 100%;
  height: 200px;
  background: #dfdfdf;
  border: 2px dashed;
  text-align: center;
}
